# (Discord Details)
CLIENT_ID=
CLIENT_TOKEN=

# (Service Details)
## Everyone that manage the application
STAFF_USERS=
## To use mulitple servers seperate them with a comma
STAFF_SERVERS=

# (Database Details)
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=